body {
  background-color: whitesmoke; }

h1 {
  text-align: center; }

.wrapper {
  max-width: 600px;
  margin: 10px auto;
  background-color: #efeddf;
  padding: 0 0 15px;
  border-radius: 5px 5px 0 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6), 0 7px 0 -3px rgba(255, 255, 255, 0.8), 0 8px 1px -3px rgba(0, 0, 0, 0.3); }
  .wrapper * {
    margin: 0; }
  .wrapper .quizpanel {
    background-color: #37a883;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 -3px 4px -3px rgba(102, 102, 102, 0.75); }
    .wrapper .quizpanel .ptitle {
      font-family: 'PT Serif', Palatino, serif;
      font-size: 2.5em;
      font-weight: bold;
      color: #3f4944;
      display: inline-block;
      padding: 0 10px 5px; }
  .wrapper .wcontent {
    position: relative; }

.hide {
  display: none; }
