.wrapper .wcontent .qtext {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  color: #3f4944;
  padding: 5px 10px; }

#choice-warn {
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: #e17979;
  color: #FFF;
  border: 2px solid transparent;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 1px 5px;
  width: 205px;
  top: -3px;
  left: 50px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-animation: warnAnim ease-out .5s;
  animation: warnAnim ease-out .5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#next, #retry {
  float: right;
  position: relative;
  width: 43px;
  margin: 8px 20px;
  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: #37a883;
  font-size: 1.5em;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25); }
  #next:hover, #retry:hover {
    background-color: rgba(240, 240, 240, 0.7);
    top: -1px; }
  #next:active, #retry:active {
    top: 1px;
    background-color: rgba(235, 235, 235, 0.7);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25); }

#answer {
  padding-left: 0; }
  #answer li {
    list-style: none;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer; }
    #answer li label {
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 1.5em;
      font-weight: 200;
      color: #3f4944;
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      font-size: 1em; }
    #answer li input[type=radio] {
      display: none; }
    #answer li label:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: #ddd;
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
      border-radius: 50%; }
    #answer li input[type=radio]:checked + label:before {
      content: "\2022";
      font-family: 'PT Serif', serif;
      font-size: 30px;
      text-align: center;
      line-height: 14px; }
    #answer li input[type=radio]:checked ~ label {
      color: #37a883; }
    #answer li:hover {
      background-color: #e4e3d5; }

#result {
  list-style: none;
  padding: 5px 10px; }
  #result li {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    color: #3f4944;
    padding: 5px 0; }

#tscore {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  color: #3f4944;
  position: absolute;
  bottom: 40%;
  right: 25%;
  font-size: 2em;
  font-weight: bold; }

@-webkit-keyframes warnAnim {
  0% {
    left: 90px;
    opacity: 0;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
    transform: rotate(0deg) scaleX(1) scaleY(1); }

  100% {
    left: 50px;
    opacity: 1;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
    transform: rotate(0deg) scaleX(1) scaleY(1); } }

@keyframes warnAnim {
  0% {
    left: 90px;
    opacity: 0;
    transform: rotate(0deg) scaleX(1) scaleY(1); }

  100% {
    left: 50px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1); } }
