ul {
  margin: 0;
  padding: 5px 0;
}

ol {
  margin: 0;
  padding-left: 35px;
}
ol li {
  padding: 5px 0;
}

.qtext {
  font-size: 24px;
  font-size: 1.5rem;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  margin-right: 50px;
  max-width: 85%;
}

.choice {
  list-style: none;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}
.choice:first-child {
  margin-top: 0;
}
.choice label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.choice input[type=radio] {
  display: none;
}
.choice label:before {
  content: "";
  background-image: radial-gradient(ellipse at center, #37a883 0%, #37a883 40%, #efefef 45%);
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 3px;
  background-color: #efefef;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: -15px 0;
  -webkit-transition: background-position 0.1s cubic-bezier(0.8, 0, 1, 1);
  -moz-transition: background-position 0.1s cubic-bezier(0.8, 0, 1, 1);
  -ms-transition: background-position 0.1s cubic-bezier(0.8, 0, 1, 1);
  -o-transition: background-position 0.1s cubic-bezier(0.8, 0, 1, 1);
  transition: background-position 0.1s cubic-bezier(0.8, 0, 1, 1);
}
.choice input[type=radio]:checked + label:before {
  content: "";
  background-position: 0 0;
  -webkit-transition: background-position 0.15s 0.1s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: background-position 0.15s 0.1s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: background-position 0.15s 0.1s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: background-position 0.15s 0.1s cubic-bezier(0, 0, 0.2, 1);
  transition: background-position 0.15s 0.1s cubic-bezier(0, 0, 0.2, 1);
}
.choice input[type=radio]:checked ~ label {
  color: #37a883;
}
.choice:hover {
  background-color: #e4e3d5;
}

.bottom {
  position: relative;
  background-color: #e4e3d5;
}

.welcome {
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 80px auto auto;
  max-height: 300px;
  max-width: 480px;
  border-radius: 5px;
  background: #37a883;
  box-shadow: 0 0 0 100% rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.welcome p {
  margin: 80px auto 0;
}

.blur-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modalBlur > :not(.welcome) {
  -webkit-filter: blur(7px);
}

.cir-r {
  display: inline-block;
  top: 0;
  right: 20px;
  bottom: 0;
  left: auto;
  position: absolute;
  padding: 0;
  margin: auto 0;
  width: 45px;
  height: 45px;
  font-size: 24px;
  font-size: 1.5rem;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.light {
  background-color: #FFF;
  /* The Fallback */
  background-color: rgba(255, 255, 255, 0.8);
  color: #37a883;
}
.light:hover {
  background-color: #f0f0f0;
  /* The Fallback */
  background-color: rgba(240, 240, 240, 0.7);
}
.light:active {
  background-color: #ebebeb;
  /* The Fallback */
  background-color: rgba(235, 235, 235, 0.7);
}

.warn {
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: #e17979;
  color: #FFF;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5em;
  padding: 2px 6px;
  margin: 0 70px 0 10px;
  max-width: 210px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: warnAnim 0.5s ease-out 0s 1 forwards;
  -moz-animation: warnAnim 0.5s ease-out 0s 1 forwards;
  -ms-animation: warnAnim 0.5s ease-out 0s 1 forwards;
  -o-animation: warnAnim 0.5s ease-out 0s 1 forwards;
  animation: warnAnim 0.5s ease-out 0s 1 forwards;
}

#start {
  display: block;
  position: relative;
  text-decoration: none;
  width: 160px;
  padding: 5px 0;
  margin: 50px auto 0;
}

#tscore {
  top: 0;
  right: 25%;
  bottom: 0;
  left: auto;
  position: absolute;
  height: 50px;
  margin: auto;
  font-size: 32px;
  font-size: 2rem;
}

@media screen and (max-width: 769px) {
  .cir-r {
    border-radius: 5px;
  }

  .choice {
    padding: 15px 10px;
  }

  ol li {
    padding: 15px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 769px) {
  .cir-r {
    width: 55px;
  }
}
@-webkit-keyframes warnAnim {
  0% {
    top: -34px;
    opacity: 0;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  100% {
    top: -2px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}

@-moz-keyframes warnAnim {
  0% {
    top: -34px;
    opacity: 0;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  100% {
    top: -2px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}

@-ms-keyframes warnAnim {
  0% {
    top: -34px;
    opacity: 0;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  100% {
    top: -2px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}

@-o-keyframes warnAnim {
  0% {
    top: -34px;
    opacity: 0;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  100% {
    top: -2px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}

@keyframes warnAnim {
  0% {
    top: -34px;
    opacity: 0;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  100% {
    top: -2px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}
