@charset "utf-8";
@import "partials/base";
// Partials
@import "partials/normalize";
@import "partials/typography";
@import "partials/buttons";
@import "partials/containers";

body {
    background-color: $body-bg;
}

h1 {
    text-align: center;
}

.ptitle {
  margin: 0;
  display: inline-block;
  padding: 0 10px 5px;
}

.wcontent {
  position: relative;
  @include transition(opacity .45s ease);
}

@media screen and (max-width: 769px) {
  .quiz-container {
    width: 95%;
    max-width: 768px;
  }
}

@media screen and (max-width: 640px) {
  .quiz-container {
    margin: auto;
    width: 100%;
    max-width: 768px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  @include opacity(0);
  display: none !important;
  visibility: hidden;
}

.vhide {
  @include opacity(0);
}

.vtrans {
  @include opacity(0.7);
}