$body-bg: #F5F5F5;
$highlight: #37A883;
$radio-bg: #EFEFEF;
$quiz-text: #3F4944;
$warn-color: #E17979;
$container-bg: #EFEDDF;
$container-bg-dark: #E4E3D5;
$light-btn: rgba(255, 255, 255, 0.8);
$light-btn-hover: rgba(240, 240, 240, 0.7);
$light-btn-active: rgba(235, 235, 235, 0.7);